@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --kakao-color: #fee500;
  --link-color: #6bb7ff;
  --primary-color: #b3b5e0;
  --primary-color-hover: #6667ab;
  --header-color: #1a1d1f;
  --sidebar-color: #1e2224;
  --background-color: #212529;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
